<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>{{pagetitle}}</title>
{{#pagedescription}}
<meta name="description" content="{{pagedescription}}">
{{/pagedescription}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles.css">
<link rel="stylesheet" type="text/css" href="/prism.css">
<link rel="stylesheet" type="text/css" href="/katex.css">
<link rel='icon' href='/profile.png'>
</head>
<body>

