<h1>Hi!</h1>
<p>
I'm Ulisse Mini, I love math, programming, and programming math.
<br/ >
Check out some of my projects
</p>

{{#posts}}
	<h2 class="posttitle">{{title}}</h2>
	<p class="date">{{date}}</p>
	<a href="/posts/{{fname}}.html">
		<img src="/img/{{thumb}}" alt="{{title}}" class="thumb">
	</a>
	<p class="subtitle">{{subtitle}}</p>
{{/posts}}

