<h1>Hi!</h1>
<p>
I'm Ulisse Mini, I'm a passionate programmer and math geek.<br/>
</p>

<p>
I'm currently speedrunning undergrad math.
</p>

<p>
More people should worry about <a href="https://nickbostrom.com/existential/risks.html">existential risks</a>.
</p>

<p>
If you aren't scared of AI, <a href="https://www.metaculus.com/questions/5121/">you</a> <a href="https://youtu.be/ZeecOKBus3Q">should</a> <a href="https://gist.github.com/deanmarano/142df7a8a824ab05fc777d8e054ab0f3">be</a>
</p>

<p>
Here's my <a href="https://github.com/UlisseMini">Github</a>, my discord handle is <code>uli#4334</code>

<br/>
You can follow my journal <a href="/j.html">here</a> for daily updates

<br/>
Some experiments and blog posts can be found below.
</p>

{{#posts}}
	<h2 class="posttitle">{{title}}</h2>
	<p class="date">{{date}}</p>
	<a href="/p/{{fname}}.html">
		<img src="/img/{{thumb}}" alt="{{title}}" class="thumb">
	</a>
	<p class="subtitle">{{subtitle}}</p>
{{/posts}}

