<h1>Hi!</h1>
<p>
I'm Ulisse Mini, I'm a passionate programmer and math geek.<br/>
</p>

<p>
I'm currently teaching myself calculus 2 on <a href="https://www.khanacademy.org/math/ap-calculus-bc">khan academy</a>. I'm nearly done, then I'll move on to linear algebra, calculus 3, etc
<br/>
I'm studying math <a href="https://www.beeminder.com/valvate/mathtime">a lot</a>.<br/>
</p>

<p>
I want to spend my life reducing <a href="https://nickbostrom.com/existential/risks.html">existential risks</a> to humanity, and you should too!
</p>

<p>
If you aren't scared of AI, <a href="https://www.metaculus.com/questions/5121/">you</a> <a href="https://youtu.be/ZeecOKBus3Q">should</a> <a href="https://gist.github.com/deanmarano/142df7a8a824ab05fc777d8e054ab0f3">be</a>
</p>

<p>
Here's my <a href="https://github.com/UlisseMini">Github</a> and <a href="https://twitter.com/MiniUlisse">Twitter</a>, My discord handle is <code>uli#4334</code>

<br/>
Some experiments and blog posts can be found below.
</p>

<h1>Projects</h1>

{{#projects}}
	<h2 class="projtitle">{{title}}</h2>
	<p class="date">{{date}}</p>
	<a href="/p/{{fname}}.html">
		<img src="/img/{{thumb}}" alt="{{title}}" class="thumb">
	</a>
	<p class="subtitle">{{subtitle}}</p>
{{/projects}}

<h1>Posts</h1>

{{#posts}}
	<h2 class="posttitle">
		<a href="/posts/{{fname}}.html">{{title}}</a>
	</h2>
	<p class="date">{{date}}</p>
{{/posts}}

