
{{{body}}}

<ul style="list-style: none; padding-left: 0;">
	{{#posts}}
	<li>
		<span style="color: #666; font-size: 0.9rem;">{{humandate}}</span>
		<h2 style="margin-top: 0;"><a href="/p/{{fname}}">{{title}}</a></h2>
	</li>
	{{/posts}}
</ul>

