
{{{body}}}

<ul style="list-style: none; padding-left: 0;">
	{{#posts}}
	<li>
		<h2 style="margin-bottom: 0;"><a href="/p/{{fname}}" style="color: #000;">{{title}}</a></h2>
		<span>{{date}}</span>
	</li>
	{{/posts}}
</ul>

