<h1 style="margin-bottom: 0;">{{title}}</h1>
<span class="date">{{humandate}}</span>
<span style="float: right;"><a href="/">See all posts</a></span>
<footer><i>{{subtitle}}</i></footer>
<hr />

{{{body}}}
